html {
  font-family: system-ui,
  -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 14pt;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container i {
  color: #bebebe;
  padding-right: 20px;
  padding-top: 50px;
}

.fab:hover {
  color: hsla(336, 100%, 86%);
}

.accent-colour {
  color: hsla(336, 100%, 86%);
}

@media screen {
  body {
    max-width: 80rem;
    padding: 1rem;
  }
  html {
    background: linear-gradient(
      180deg,
      hsla(157, 40%, 86%),
      hsla(336, 100%, 86%)
      );
    min-height: 100%;
  }
}
